.restaurants {
     padding: 30px;
   }
   
   .restaurants__list {
     display: grid;
     grid-template-columns: 1fr;
     gap: 20px;
   }
   
   @media (min-width: 800px) {
     .restaurants__list {
       grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     }
   }
   